/* --- --- CONTENEDOR PRINCIPAL --- --- */

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;

}

body{
  font-family: calibri;
  background-color: #cccccc;
}
nav{
  background: 
  linear-gradient(
    rgb(0, 29, 156), 
    #cccccc);
  height: 80px;
  width: 100%;
  position: fixed;
}
label.logo{
  color: #ffff;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: #ffffff;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,a:hover{
  background: #0089b3;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: #ffffff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px) {
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000000;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
section{
  background: url(./img/cut.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

.contenedor {
	/* max-width: 100px; */
	width: 90%;
	margin: auto;
}

.contenido-principal {
	margin-bottom: 50px;
	display: flex;
  align-items: center;
  padding: 100px;
}

.contenido-principal__imagen {
	vertical-align: top;
	margin-right: 20px;
	width: 50%;
  max-width: 550px;
  border-radius: 10px;
}

.contenido-principal__contenedor {
	width: 50%;
}

.contenido-principal__titulo {
	font-weight: normal;
	font-size: 28px;
}

.contenido-principal__resumen {
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	color: #5c5959;
}

/* --- --- CAROUSEL --- --- */

.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 50px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: #000000;
  opacity: 50%;
  font-size: 25px;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 10px;
	height: 10px;
	background: rgb(7, 67, 136);
	opacity: .2;
	border-radius: 3;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

@media screen and (max-width: 800px) {
	body {
		padding: 40px 0;
	}

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}
 img{
   height: 240.92px;
   width: 350.5px;
   border-radius: 5px;
 }

 .info{
   font-size: 15px;
   font-family: sans-serif;
 }

 .precio{
   font-size: 13px;
   font-family: sans-serif;
 }

